<div class="p-4">
  <h4>Created events that are still to happen: </h4>
  <% @fut_created_events.each do |event| %>
    <div class="card mb-2 " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= phrase('user created', @user, event)[0] %> </h5>
        <p class="card-text"> <%= phrase('user created', @user, event)[1] %></p>
        <%= link_to 'View event', event_show_path(event)  %>
      </div>
    </div>
  <% end %>
  <h5>Created events that already happened: </h5>
  <% @prev_created_events.each do |event| %>
    <div class="card mb-2 " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= phrase('user created', @user, event)[0] %> </h5>
        <p class="card-text"> <%= phrase('user created', @user, event)[1] %></p>
        <%= link_to 'View event', event_show_path(event)  %>
      </div>
    </div>
  <% end %>

</div>
